.category-name {
    color: #0c61e8;
    font-weight: lighter;
}

.categories-col {
    background-color: white;
    border: 1px solid silver;
    border-radius: 4px;
    box-shadow: 0 2px 1px 0 rgba(64,64,64,.15);
}