.info-user{
  width: 100%;
  display: flex;
  background-color: rebeccapurple;
  padding-top: 20px;
  color: #f2f2f2 !important;
  position: absolute;
  left: 50%;
}

.bar-left{
  width: 25%;
  padding: 2% 3%;
  display: flex;
  flex-direction: column;
  color: white !important;
  background-color: rgba(255, 255, 255, 0.281);
}

.bar-left > span{
  padding: 20px ;
  text-align: center;
  margin-bottom: 50px;
  font-size: 20px;
}

.bar-left .count-option{
  padding: 10px 20px;
  height: 90px;
  display: flex;
  align-items: center ;
  justify-content: space-around;
  font-size: 20px;
  cursor: pointer;
}

.count-option .option-hover{
  height: 100%;
  width: 10px;
  border-radius: 5px 0px 0px 5px;
  display: block;
  transition: 0.3s;
}

.count-option:hover .option-hover{
  background-color: purple; 
}

.user-me{
  width: 100%;
  color: white !important;
 display: flex;
 align-items: center ;
justify-content: center;
}

.rs-panel{
  width: 30%;
  margin: auto;
}

.rs-panel-heading{
  color: #f2f2f2 ;
}