.sign-up {
  /* background-color: transparent; */
  border-radius: 20px !important;
  color: #f2f2f2f2;
  background-color: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(15px);
  width: 390px;
}
