.producto{
  height: 86vh;
  background-image: url('../../img/back.gif');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.product-content{
  width: 90%;
  margin-top: 240px;
}

.product-content img{
  width: 30%;
  height: 90%;
}

.product-info{
  width: 65%;
  font-family: 'Roboto';
  margin: 60px 10px 140px 10px;
  color: #f2f2f2;
  margin-left: 50px;
}

.product-info .product-description h3{
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 30px;
}

.product-info .product-description .product-specific-ind{
  width: 25%;
  margin-bottom: 20px;
  align-items: center;
}

.product-specific{
  margin-bottom: 50px;
}

.product-specific-ind .svg-inline--fa{
  font-size: 25px;
}

.product-specific-ind div{
  margin-left: 30px;
  font-weight: 500;
}
.product-info-bot{
  width: 100%;
  height: 44%;
}

.cont{
  width: 40%;
}

.product-info-bot .product-colors{
  width: 100%;
  height: 86%;
  display: flex;
  justify-content: space-around;
}

.product-colors .color{
  width: 110px;
  text-align: center;
}

.color div{
  width: 100%;
  height: 83%;
  margin-bottom: 10px;
  border-radius: 15px;
  border: 1px solid rgb(131, 131, 131);
  background-color: rgb(26, 26, 24);
}

.color .d1:hover{
  box-shadow: 0px 0px 15px silver;
}

.color .d2:hover{
  box-shadow: 0px 0px 15px gold;
}

.color .d3:hover{
  box-shadow: 0px 0px 15px pink;
}

.product-price{
  width: 60%;
  padding: 0px 50px;

  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.product-price .price{
  margin-bottom: 20px;
}

.product-price p{
  color: #f2f2f2 !important;
}

.product-price button{
  width: 50%;
  background-color: blueviolet;
  border-radius: 520px;
  border: none;
  padding: 10px;
}