.card {
    margin       : 17px;
    height       : 17rem;
    width        : 22rem;
    border-radius: 10px;
    font-size: 15px;
}

.img>img {
    width : 40%;
    height: 40%;

}

.flex{
    display: flex;
}