.product-card {
  height: 320px;
  width: 400px;
  margin: 0;
  color: white !important;
  background: rgba(20,20,20,1);
  background: -moz-linear-gradient(top, rgba(20,20,20,1) 0%, rgba(26,26,26,0.88) 12%, rgba(28,28,28,0.75) 25%, rgba(20,20,20,0.61) 39%, rgba(13,13,13,0.5) 50%, rgba(0,0,0,0.49) 51%, rgba(5,5,5,0.4) 60%, rgba(13,13,13,0.24) 76%, rgba(8,8,8,0.09) 91%, rgba(5,5,5,0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(20,20,20,1)), color-stop(12%, rgba(26,26,26,0.88)), color-stop(25%, rgba(28,28,28,0.75)), color-stop(39%, rgba(20,20,20,0.61)), color-stop(50%, rgba(13,13,13,0.5)), color-stop(51%, rgba(0,0,0,0.49)), color-stop(60%, rgba(5,5,5,0.4)), color-stop(76%, rgba(13,13,13,0.24)), color-stop(91%, rgba(8,8,8,0.09)), color-stop(100%, rgba(5,5,5,0)));
  background: -webkit-linear-gradient(top, rgba(20,20,20,1) 0%, rgba(26,26,26,0.88) 12%, rgba(28,28,28,0.75) 25%, rgba(20,20,20,0.61) 39%, rgba(13,13,13,0.5) 50%, rgba(0,0,0,0.49) 51%, rgba(5,5,5,0.4) 60%, rgba(13,13,13,0.24) 76%, rgba(8,8,8,0.09) 91%, rgba(5,5,5,0) 100%);
  background: -o-linear-gradient(top, rgba(20,20,20,1) 0%, rgba(26,26,26,0.88) 12%, rgba(28,28,28,0.75) 25%, rgba(20,20,20,0.61) 39%, rgba(13,13,13,0.5) 50%, rgba(0,0,0,0.49) 51%, rgba(5,5,5,0.4) 60%, rgba(13,13,13,0.24) 76%, rgba(8,8,8,0.09) 91%, rgba(5,5,5,0) 100%);
  background: -ms-linear-gradient(top, rgba(20,20,20,1) 0%, rgba(26,26,26,0.88) 12%, rgba(28,28,28,0.75) 25%, rgba(20,20,20,0.61) 39%, rgba(13,13,13,0.5) 50%, rgba(0,0,0,0.49) 51%, rgba(5,5,5,0.4) 60%, rgba(13,13,13,0.24) 76%, rgba(8,8,8,0.09) 91%, rgba(5,5,5,0) 100%);
  background: linear-gradient(to bottom, rgba(20,20,20,1) 0%, rgba(26,26,26,0.88) 12%, rgba(28,28,28,0.75) 25%, rgba(20,20,20,0.61) 39%, rgba(13,13,13,0.5) 50%, rgba(0,0,0,0.49) 51%, rgba(5,5,5,0.4) 60%, rgba(13,13,13,0.24) 76%, rgba(8,8,8,0.09) 91%, rgba(5,5,5,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141414', endColorstr='#050505', GradientType=0 );
}


.product-img {
    max-height: 250px;
    display: block;
    margin: auto;
}

.product-info {
    max-height: 150px;
    display: block;
    margin: auto;
}

.product-details {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.product-card a {
    text-decoration: none;
    font-family: open sans,sans-serif;
    color: #404040;
}