body{
  background: #000 !important;
}

.catalog{
  max-width: 100vw;
}

.catg{
  width: 20%;
}

.products-grid {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    /* grid-auto-rows: minmax(100px, auto); */
    margin-right: 10px;
    margin-left: 20px;
}