body {
  background: #000 !important;
}

.catalog {
  max-width: 100vw;
  height: 86vh;
  background-image: url("../../img/fondoproducto.png");
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
  padding-top: 80px;
}

.catg {
  width: 20%;
}

.products-grid {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  /* grid-auto-rows: minmax(100px, auto); */
  margin-right: 10px;
  margin-left: 20px;
}
