.search-btn {
}

.search-btn:hover {
  background-color: #684aa3;
  color: white;
  border-color: #2b2b54;
}

.search-input {
  border: none;
  background-color: black;
  color: #f2f2f2;
}

.search-input::placeholder {
  color: #f2f2f2;
}
