.dropdown-menu{
  width: 180%;
  left: -110px !important;
}

.mini-show-cart {
  height: 100px;
  display: flex;
  align-items: center;
  margin: 20px auto 10px auto;
}

.mini-show-cart .show-left-drop{
  margin-right: auto;
}

.mini-show-cart .show-rigth-drop{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
}

.show-rigth-drop button{
  background-color: transparent;
  color: black !important;
  border: none;
}
.show-rigth-drop button:hover{
  color: white !important;
}

.mini-show-cart > img{
  height: 50px;
  width: 50px;
}

.next-show-minicart{
  background-color: purple;
  width: 90%;
  margin: auto;
  border-radius: 8px;
  text-align: center !important;
  color: white !important;
}

.next-show-minicart:hover{
  background-color: purple;
  
}