.form-background {
    background-color: black;
    padding: 20px;
    border-radius: 4px;
    opacity: 0.8;
}

.form-btn {
    align-items: center;
    margin: 0 auto;
    display: block;
    border-radius: 4px;
    background-color: #f80;
    color: white;
    border: 1px solid #f80;
}

.form-btn:hover {
    color: white;
    background-color: #FFA500;
}