.container {
  max-width: 2000px !important;
  padding: 50px;
}

.iphone img {
  width: 55%;
  position: absolute;
  left: 789px;
  top: -5px;
  z-index: 2;
}
.Landing {
  padding-top: 150px;
  height: 700px;
  width: 900px;
}
.Landing h1 {
  font-family: "Lato";
  font-size: 85px;
<<<<<<< HEAD
  color: #f2f2f2f2;
=======
  color: white !important;
  line-height: 80px;
>>>>>>> 95cc72a8162d0abfdbad5a347f37f1337f880ea0
}
.login-landing {
  width: 415px;
  height: 60px;
  background-color: rgb(104, 74, 163, 0.7);
  backdrop-filter: blur(15px);
  font-size: 26px;
  font-family: "Roboto";
  border-radius: 360px;
  color: #f2f2f2f2;
}

.login-landing:hover {
  background-color: rgb(68, 68, 153, 0.7);
  backdrop-filter: blur(15px);
}

.butn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 170px;
}
