<<<<<<< HEAD
.add-product-container {
  margin-right: 80px;
  margin-left: 80px;
  margin-top: 40px;
}

.add-product-btn {
  width: 500px;
  margin: 0 auto;
  display: block;
}
input {
  color: black;
}
label {
  color: black !important;
}
=======
.add-product-container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #03080a;
}

.cont-prin{
  width: 80%;
  padding: 20px;
}

.cont-prin h2{
  width: 100%;
  color: #45f3ff !important;
  font-size: 36px;
  text-align: center;
  margin-bottom: 10px;
}

.cont-prin .row100{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(autofit, minmax(300px, 1fr));

}

.cont-prin .row100 .column{
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 10px;
  transition: 0.5s;
}

.cont-prin .row100 .inputBox{
  position: relative;
  width: 100%;
  height: 40px;
  color: #45f3ff !important;
}

.cont-prin .row100 .spa{
  margin-bottom: 30px;
}

span{
  color: #45f3ff !important;
}

.cont-prin .row100 .inputBox input{
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: #000 !important;
}

.cont-prin .row100 .inputBox .text{
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}

.cont-prin .row100 .inputBox input:focus + .text,
.cont-prin .row100 .inputBox input:valid + .text{
  top: -35px;
  left: -10px;
}

.cont-prin .row100 .inputBox .line{
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #45f3ff;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}

.cont-prin .row100 .inputBox input:focus ~ .line,
.cont-prin .row100 .inputBox input:valid ~ .line{
  height: 100%;
}

.cont-prin input[type="submit"],
.row100 .btn{
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background: #45f3ff;
  color: #000 !important;
  font-size: 18px;
  border-radius: 2px;
}

.btn{
  width: 20% !important;
}

.form-group label{
  color: #45f3ff !important;
  align-self: center;
}
>>>>>>> cff4a475f1ac3037690ad802fcb5b1bc7a7b9328
